<div id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: rgb(18,122,218);">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-feather"></i></div>
          <div class="sidebar-brand-text mx-3"><span>RHApp</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/conges"><i class="fas fa-table"></i><span>Mes Congés</span></a><a class="nav-link" routerLink="/absences"><i class="fas fa-table"></i><span>Mes Absences</span></a><a class="nav-link" routerLink="/retraites"><i class="fas fa-table"></i><span>Mes Retraites</span></a>
            <a
              class="nav-link" routerLink="/avantages"><i class="fas fa-table"></i><span>Mes Avantages En Nature</span></a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper" *ngIf="salarie">
      <div id="content">
        <app-navbar-header></app-navbar-header>

        <div class="container-fluid">
          <h3 class="text-dark mb-4" ><H3 style="font-weight: bold;"><mat-card>Les Paramètre de Sécurité</mat-card></H3>
          </h3>

          <!--                  *********************************************************-->
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">Paramètre de sécurité</p>
            </div>
            <div class="card-body" >
              <form [formGroup]="passwordFromGroup" (ngSubmit)="checkPasswords()">
                <div class="form-row">
                  <div class="col">

                    <div class="form-group"><label ><strong>Ancien Mot de Passe</strong></label>
                      <input class="form-control" type="text"  formControlName="password" type="password" placeholder="*************">
                      <strong style="color: #78261f;" *ngIf="passwordWrongError" >* {{passwordWrongmessage}}</strong>

                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col">
                    <div class="form-group"><label ><strong>Nouveau Mot de Passe</strong></label>
                      <input class="form-control" formControlName="newPassword" type="password" placeholder="*************" ></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group"><label ><strong>Répéter le Mot de Passe</strong></label>
                      <input class="form-control" formControlName="confPassword" type="password" placeholder="*************" >
                      <strong style="color: #78261f;" *ngIf="passwordMatchError" > * Le mot de passe ne correspond pas</strong>

                    </div>
                  </div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>
                <strong style="color: #0f6848;" *ngIf="saved" > * Enregistrée</strong><br>

              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © RHAPP 2020</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
</div>
