<form class="custom-form" [formGroup]="retourFormGroup" (ngSubmit)="addRetour()">
  <h1 mat-dialog-title>
    <div class="card-body text-center shadow">
      <mat-card><H4 style="font-weight: bold;">Déclarer le retour</H4></mat-card>
    </div>
  </h1>

  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Date de Retour</label></div>
    <div class="col-sm-6 input-column">
      <mat-form-field>
        <input  matInput [matDatepicker]="picker" formControlName="dateRetour" [value]="conge.dateRetour | date : 'yyyy-dd-MM'">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <mat-card-actions class="container pr-5 mb-0" >
    <button mat-raised-button class="btn btn-primary ml-3 mt-3"  type="submit" mat-dialog-close>Ajouter</button>
    <button mat-raised-button  class="btn btn-primary ml-3 mt-3"  mat-dialog-close >Fermer</button>
  </mat-card-actions>
</form>
