<div id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: rgb(18,122,218);">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-feather"></i></div>
          <div class="sidebar-brand-text mx-3"><span>RHApp</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/home"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/conges"><i class="fas fa-table"></i><span>Mes Congés</span></a><a class="nav-link" routerLink="/absences"><i class="fas fa-table"></i><span>Mes Absences</span></a><a class="nav-link" routerLink="/retraites"><i class="fas fa-table"></i><span>Mes Retraites</span></a>
            <a
              class="nav-link" routerLink="/avantages"><i class="fas fa-table"></i><span>Mes Avantages En Nature</span></a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <app-navbar-header></app-navbar-header>
      <div id="content">
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center mb-4">

            <a mat-raised-button class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" (click)="helpMe()">
              <i class="fas fa-hands-helping" ></i>&nbsp;Aidez moi</a>
          </div>
          <h3 class="text-dark mb-4" ><H3 style="font-weight: bold;"><mat-card>Accueil</mat-card></H3>
          </h3>
          <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Mon Poste</span></div>
                      <div class="text-dark font-weight-bold h5 mb-0"><span style="font-size: 17px;">
                        <strong>{{this.salarie?.poste.nom}}</strong><br></span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-left-success py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Ma Foction</span></div>
                      <div class="text-dark font-weight-bold h5 mb-0"><span style="font-size: 17px;">
                        <strong>{{this.salarie?.fonction}}</strong></span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-left-info py-2" style="height: 123px;">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Mon service</span></div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span style="font-size: 17px;">
                            <strong>{{this.salarie?.service.nom}}</strong><br></span></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-left-warning py-2" style="height: 122px;">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Ma direction</span></div>
                      <div class="text-dark font-weight-bold h5 mb-0 mr-3" style="font-size: 17px;">
                        <span><strong>{{this.salarie?.direction.nom}}</strong></span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-xl-8"></div>
            <div class="col-lg-5 col-xl-4"></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Absences</h4>
                      <h6 class="text-muted card-subtitle mb-2">Si vous voulez voir votre retraites</h6><button class="btn btn-primary" type="button" (click)="voirAbsence()"><strong>Voir les Absences</strong><br></button>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Congés</h4>
                      <h6 class="text-muted card-subtitle mb-2">Si vous voulez ajouter une&nbsp;congé</h6><button class="btn btn-primary" type="button" (click)="voirConge()"><strong>Voir les Congés</strong><br></button></div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Retraites</h4>
                      <h6 class="text-muted card-subtitle mb-2">Si vous voulez voir votre retraites<br></h6><button class="btn btn-primary" type="button" (click)="voirRetraites()">Voir les Retaites</button>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Avantages en nature</h4>
                      <h6 class="text-muted card-subtitle mb-2">Si vous voulez voir votre avantages en nature</h6><button class="btn btn-primary" type="button" (click)="voirAvantages()">Voir les Avantages</button>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
  </div>
