<div id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: rgb(18,122,218);">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-feather"></i></div>
          <div class="sidebar-brand-text mx-3"><span>RHApp</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/conges"><i class="fas fa-table"></i><span>Mes Congés</span></a><a class="nav-link" routerLink="/absences"><i class="fas fa-table"></i><span>Mes Absences</span></a><a class="nav-link" routerLink="/retraites"><i class="fas fa-table"></i><span>Mes Retraites</span></a>
            <a
              class="nav-link" routerLink="/avantages"><i class="fas fa-table"></i><span>Mes Avantages En Nature</span></a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-navbar-header></app-navbar-header>

        <div class="container-fluid" *ngIf="salarie">
<!--          <app-ajouter-conge *ngIf="formAddConge"></app-ajouter-conge>-->
<!--          <app-ajouter-conge *ngIf="formModifyConge"></app-ajouter-conge>-->
          <h3 class="text-dark mb-4" ><H3 style="font-weight: bold;"><mat-card>Mes Conges</mat-card></H3>
          </h3>
          <div class="card shadow" >
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">Conges Info</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 text-nowrap">
                  <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <div class="col-md-6 text-nowrap">
                      <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" style="width: 208px;"></div>
                    </div>
                    <!--                  <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" style="width: 208px;">-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-md-right dataTables_filter" id="dataTable_filter">
                    <button class="btn btn-primary" type="button" style="width: 110px;height: 41px;"  (click)="openDialogCreate()">Ajouter</button><label></label></div>
                </div>
              </div>
              <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                  <thead>
                  <tr>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                    <th>Date Retour</th>
                    <th>Type</th>
                    <th>Durée</th>
                    <th>Motif</th>
                    <th>Date Creation</th>
                    <th>Etat</th>
                    <th>Éditer</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let conge of conges">
                    <td>{{conge.dateDebut | date:'yyyy-MM-dd'}}</td>
                    <td>{{conge.dateFin | date:'yyyy-MM-dd'}}</td>

                    <td *ngIf="conge.dateRetour && conge.etat === 'ACCEPTED'">{{conge.dateRetour | date:'yyyy-MM-dd'}}</td>

                    <td *ngIf="conge.dateRetour && conge.etat !== 'ACCEPTED'"><button  class="btn btn-primary" (click)="openDialogRetour(conge)">{{conge.dateRetour | date:'yyyy-MM-dd'}}</button></td>

                    <td *ngIf="!conge.dateRetour && conge.etat === 'ACCEPTED'" ><button  class="btn btn-primary" (click)="openDialogRetour(conge)">Déclarer le retour</button></td>

                    <td *ngIf="!conge.dateRetour  && conge.etat !== 'ACCEPTED'"><button  class="btn btn-warning" >En attente d'acceptation</button></td>

                    <td>{{conge.type.typeConge}}</td>
                    <td>{{conge.duree}}</td>
                    <td>{{conge.motif}}</td>
                    <td>{{conge.dateCreation | date:'yyyy-MM-dd'}}</td>
                    <td>
                      <label class="btn btn-info" *ngIf="conge.etat === 'PENDING_RESPONSE'">En attente</label>
                      <label class="btn btn-success" *ngIf="conge.etat != 'PENDING_RESPONSE'">Accepté</label>
                    </td>
                    <td>
                      <a *ngIf="conge.etat !== 'ACCEPTED' && !conge.dateRetour " class="btn btn-primary btn-circle ml-1" role="button" (click)="openDialogModify(conge)"><i class="fas fa-pen text-white"></i></a>
                      <a *ngIf="conge.etat !== 'ACCEPTED' && !conge.dateRetour " class="btn btn-danger btn-circle ml-1" role="button" (click)="deleteConge(conge.id)"><i class="fas fa-trash text-white"></i></a>
                    </td>
                  </tr>

                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                    <th>Date Retour</th>
                    <th>Type</th>
                    <th>Durée</th>
                    <th>Motif</th>
                    <th>Date Creation</th>
                    <th>Etat</th>
                    <th>Éditer</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 1 of 1</p>
                </div>
                <div class="col-md-6">
                  <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                      <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © RHAPP 2020</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
</div>

