<form class="custom-form" [formGroup]="helpmeFromGroup" (ngSubmit)="helpMe()">
  <h1 mat-dialog-title>Aidez moi</h1>
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Votre Problème</label></div>
    <div class="col-sm-6 input-column">
      <textarea class="form-control" formControlName="problem"   type="text" ></textarea></div>
  </div>


  <mat-card-actions class="container pr-5 mb-0" >
    <button mat-raised-button class="btn-outline-primary ml-3 mt-3"  type="submit" mat-dialog-close>Envoyer</button>
    <button mat-button  class="btn-outline-primary ml-3 mt-3"  mat-dialog-close >Fermer</button>
  </mat-card-actions>
</form>
