<div id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: rgb(18,122,218);">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-feather"></i></div>
          <div class="sidebar-brand-text mx-3"><span>RHApp</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/conges"><i class="fas fa-table"></i><span>Mes Congés</span></a><a class="nav-link" routerLink="/absences"><i class="fas fa-table"></i><span>Mes Absences</span></a><a class="nav-link" routerLink="/retraites"><i class="fas fa-table"></i><span>Mes Retraites</span></a>
            <a
              class="nav-link" routerLink="/avantages"><i class="fas fa-table"></i><span>Mes Avantages En Nature</span></a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper" *ngIf="salarie">
      <div id="content">
        <app-navbar-header></app-navbar-header>

        <div class="container-fluid">
          <h3 class="text-dark mb-4" ><H3 style="font-weight: bold;"><mat-card>Mon Profile</mat-card></H3>
          </h3>
          <div class="row mb-3" *ngIf="salarie">
            <div class="col-lg-4">
              <div class="card mb-3">
                <div class="card-body text-center shadow">
                  <mat-card><H4 style="font-weight: bold;">{{salarie.nom}} {{salarie.prenom}}</H4></mat-card>

                  <img class="rounded-circle mb-3 mt-4" *ngIf="profileImage" [src]="profileImage" width="160" height="160">
                  <img class="rounded-circle mb-3 mt-4" *ngIf="!profileImage" src="assets/img/profile/default.png" width="160" height="160">
                  <div class="mb-3">
                    <input type="File" value="change" (change)="selectPhoto($event)">
                    <button class="btn btn-primary" type="button" (click)="onUploadImage()" [disabled]="!selectedImage">Upload</button>
                    <button class="btn btn-danger btn-circle ml-1" role="button" [hidden]="buttonDeleteImage" (click)="deleteImage()"><i class="fas fa-trash text-white"></i></button>
                  </div>
                  <strong style="color: #78261f;" *ngIf="errorMessageImage">{{errorMessageImage}}</strong>
                  <!--                  <div><input type="file" >Upload</div>-->
                </div>
              </div>
              <div class="card shadow mb-4" >
                <div class="card-header py-3">
                  <h6 class="text-primary font-weight-bold m-0">Salarie info</h6>
                </div>
                <div class="card-body" *ngIf="salarie">
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group"><label ><strong>Numéro de Somme</strong></label>
                        <label class="form-control" >{{salarie?.numSomme}}</label></div>
                    </div>
                    <div class="col">
                      <div class="form-group"><label ><strong>CIN</strong></label>
                        <label class="form-control"  >{{salarie?.cin}}</label></div>
                    </div>
                  </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"><label ><strong>Poste</strong></label>
                          <label class="form-control" >{{salarie?.poste.nom}}</label></div>
                      </div>
                      <div class="col">
                        <div class="form-group"><label ><strong>Fonction</strong></label>
                          <label class="form-control"  >{{salarie?.fonction}}</label></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"><label ><strong>Direction</strong></label>
                          <label class="form-control" >{{salarie?.direction.nom}}</label></div>
                      </div>
                      <div class="col">
                        <div class="form-group"><label ><strong>Service</strong></label>
                          <label class="form-control" >{{salarie?.service.nom}}</label></div>
                      </div>
                    </div>
<!--                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>-->
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">Situation Familiale</p>
                </div>
                <div class="card-body" *ngIf="salarie">
                  <form [formGroup]="familyFormGroup" (ngSubmit)="modifyFamilySettings()" class="example-form">
                    <div class="form-group"><label ><strong>Situation familiale</strong></label>
                      <mat-select class="form-control" formControlName="etatFamiliale" >
                        <mat-option  *ngFor="let type of situations" [value]="type" selected (click)="turnOnChildInput()">{{type}}</mat-option>
                      </mat-select>
                    </div>
                    <div class="form-row" *ngIf="childShowUp || salarie.nmbEnf" >
                      <div class="col" >
                        <div class="form-group"><label ><strong>Nombre d'enfants</strong></label>
                          <input class="form-control "  type="number" formControlName="nmbEnf" >
                        </div>
                      </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>
                    <strong style="color: #0f6848;" *ngIf="!modifyerrorSituation" >Enregistrée</strong>

                  </form>
                </div>
              </div>
<!--*************************************************************************************************************************-->
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">Contact Urgent</p>
                </div>
                <div class="card-body" *ngIf="salarie">
                  <form [formGroup]="urgContactFromGroup" (ngSubmit)="modifyUrgentSettings()">
                    <div class="form-row">
                      <div class="col">

                        <div class="form-group"><label ><strong>CIN Urgent</strong></label>
                          <input class="form-control" type="text"  formControlName="cinUrg" [value]="salarie.cinUrg" ></div>
                      </div>
                      <div class="col">
                        <div class="form-group"><label ><strong>Nom Urgent</strong></label>
                          <input class="form-control" formControlName="nomUrg" [value]="salarie.nomUrg"></div>
                      </div>
                      <div class="col">
                        <div class="form-group"><label ><strong>Prenom Urgent</strong></label>
                          <input class="form-control" formControlName="prenomUrg" [value]="salarie.prenomUrg"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"><label ><strong>Email Urgent</strong></label>
                          <input class="form-control" type="email" formControlName="emailUrg"  [value]="salarie.emailUrg"></div>
                      </div>
                      <div class="col">
                        <div class="form-group"><label ><strong>Telephone Urgent</strong></label>
                          <input class="form-control" type="text"  formControlName="telephoneUrg" [value]="salarie.telephoneUrg" ></div>
                      </div>
                      <div class="col">
                        <div class="form-group"><label ><strong>Adresse Urgente</strong></label>
                          <input class="form-control" type="text"  formControlName="adresseUrg" [value]="salarie.adresseUrg" ></div>
                      </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>
                    <strong style="color: #0f6848;" *ngIf="!modifyerrorUrgent" >Enregistrée</strong>

                  </form>
                </div>
              </div>

            </div>
            <div class="col-lg-8">
              <div class="row mb-3 d-none">
                <div class="col">
                  <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                      </div>
                      <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-white bg-success shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                      </div>
                      <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Paramètre Utilisateur</p>
                    </div>
                    <div class="card-body" *ngIf="salarie">
                      <form [formGroup]="userFromGroup" (ngSubmit)="modifyUserSettings()">
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Nom</strong></label>
                              <input class="form-control" type="text"  formControlName="nom" ></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label ><strong>Prenom</strong></label>
                              <input class="form-control" formControlName="prenom" [value]="salarie.prenom"></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Email</strong></label>
                              <input class="form-control" type="email" formControlName="email"  [value]="salarie.email"></div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label ><strong>Telephone</strong></label>
                              <input class="form-control" type="text"  formControlName="telephone" [value]="salarie.telephone" ></div>
                          </div>
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>
                        <strong style="color: #0f6848;" *ngIf="!modifyerrorUser" >Enregistrée</strong>

                      </form>
                    </div>
                  </div>

                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Paramètre de sécurité</p>
                    </div>
                    <div class="card-body" >
                      <form [formGroup]="passwordFromGroup" (ngSubmit)="checkPasswords()">
                        <div class="form-row">
                          <div class="col">

                            <div class="form-group"><label ><strong>Ancien Mot de Passe</strong></label>
                              <input class="form-control" type="text"  formControlName="password" type="password" placeholder="*************">
                              <strong style="color: #78261f;" *ngIf="passwordWrongError" >* {{passwordWrongmessage}}</strong>

                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Nouveau Mot de Passe</strong></label>
                              <input class="form-control" formControlName="newPassword" type="password" placeholder="*************" ></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Répéter le Mot de Passe</strong></label>
                              <input class="form-control" formControlName="confPassword" type="password" placeholder="*************" >
                              <strong style="color: #78261f;" *ngIf="passwordMatchError" > * Le mot de passe ne correspond pas</strong>
<!--                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                              </button>-->
                            </div>
                          </div>
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>
                        <strong style="color: #0f6848;" *ngIf="saved" > * Enregistrée</strong><br>

                      </form>
                    </div>
                  </div>


                  <div class="card shadow">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Paramètre Contact</p>
                    </div>
                    <div class="card-body" *ngIf="salarie">
                      <form [formGroup]="contactFromGroup" (ngSubmit)="modifyContactSettings()">
                        <div class="form-group"><label ><strong>Date de Naissance : </strong>
                          <mat-form-field >
                            <input matInput [matDatepicker]="picker" formControlName="dateNaissance" value="{{salarie.dateNaissance | date : 'yyyy-dd-MM'}}">
                            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </label>


                          <!--                          <input class="form-control"  formControlName="dateNaissance" value="{{salarie.dateNaissance | date : 'yyyy-dd-MM'}}" >-->
                        </div>

                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>lieu de Naissance</strong></label><input class="form-control"  formControlName="lieuNaissance" [value]="salarie.lieuNaissance"></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Adresse</strong></label><input class="form-control"  formControlName="adresse" [value]="salarie.adresse"></div>
                          </div>
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>
                        <strong style="color: #0f6848;" *ngIf="!modifyerrorContacts" >Enregistrée</strong>

                      </form>
                    </div>
                  </div>
                  <br>



                  <div class="card shadow mb-4">

                    <div class="card-header py-3">
                      <h6 class="text-primary font-weight-bold m-0">Mon CV</h6>
                    </div>
                    <div class="card-body" *ngIf="salarie">
                      <form>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Ajouter CV <strong style="font-size: 13px;">(pdf)</strong> </strong></label>
                              <!--                          <input class="form-control" type="file"  (change)="selectPhoto($event)" ></div>-->
                              <!--                          <button class="btn btn-primary" type="button" (click)="onUploadCv()">Upload</button>-->
                              <div class="mb-3"><input type="File" value="change" (change)="selectCv($event)"></div>
                              <strong style="color: #78261f;" *ngIf="errorMessageCv">{{errorMessageCv}}</strong>
                                <button class="btn btn-primary" type="button" (click)="onUploadCv()" [disabled]="!selectedCv" >Upload</button>
                            </div>
                          </div>

                        </div>
                        <div class="form-row" *ngIf="nameCv">
                          <div class="col">
                            <div class="form-group"><label ><strong></strong></label>
                              <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                  <thead>
                                  <tr>
                                    <th>CV</th>
                                    <th>Upload Date </th>
                                    <th>Éditer</th>
                                  </tr>
                                  </thead>
                                  <tbody *ngIf="nameCv">
                                  <tr>
                                    <td>{{nameCv}}</td>
                                    <td>{{dateCv | date :'short'}}</td>
                                    <td>
                                      <a class="btn btn-primary btn-circle ml-1" role="button" (click)="downloadCv()"><i class="fas fa-download text-white"></i></a>
                                      <a class="btn btn-danger btn-circle ml-1" role="button" (click)="deleteCv()" ><i class="fas fa-trash text-white"></i></a>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>


                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="text-primary font-weight-bold m-0">Mes Diplomes</h6>
                    </div>
                    <div class="card-body" *ngIf="salarie">
                      <form>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong>Ajouter Diplome <strong style="font-size: 13px;">(pdf)</strong> </strong></label>
                              <!--                          <input class="form-control" type="file"  (change)="selectPhoto($event)" ></div>-->
                              <!--                          <button class="btn btn-primary" type="button" (click)="onUploadCv()">Upload</button>-->
                              <div class="mb-3"><input type="File" value="change" (change)="selectDiplome($event)"></div>
                              <button class="btn btn-primary" type="button" (click)="onOpenDialog()" [disabled]="!diplomeIsPDF" >Upload</button>
                              <strong style="color: #78261f;" *ngIf="!diplomeIsPDF">{{errorMessageDiplome}}</strong>

                            </div>
                          </div>
                          <div class="col">
                            <br>
                            <!--                    <button class="btn btn-primary" type="button" (click)="onOpenDialog()" [disabled]="!selectedDiplome" >Upload</button>-->
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label ><strong></strong></label>
                              <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                  <thead>
                                  <tr>
                                    <th>Nom</th>
                                    <th>Date de diplome</th>
                                    <th>Date de expiration</th>
                                    <th>Date de creation</th>
                                    <th>Éditer</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let diplome of salarie.diplomeObt">
                                    <td>{{diplome.name}}</td>
                                    <td>{{diplome.dateDiplome | date :'dd-MM-yyyy'}}</td>
                                    <td>{{diplome.expDiplome| date :'dd-MM-yyyy'}}</td>
                                    <td>{{diplome.dateCreation| date :'dd-MM-yyyy'}}</td>
                                    <td>
                                      <a class="btn btn-primary btn-circle ml-1" role="button" (click)="downloadDiplome(diplome)" ><i class="fas fa-download text-white"></i></a>
                                      <a class="btn btn-danger btn-circle ml-1" role="button" (click)="deleteDiplome(diplome.id)"><i class="fas fa-trash text-white"></i></a>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>-->
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!--                  *********************************************************-->
<!--          <div class="card shadow mb-3">-->
<!--            <div class="card-header py-3">-->
<!--              <p class="text-primary m-0 font-weight-bold">Contact Urgent</p>-->
<!--            </div>-->
<!--            <div class="card-body" *ngIf="salarie">-->
<!--              <form [formGroup]="urgContactFromGroup" (ngSubmit)="modifyUrgentSettings()">-->
<!--                <div class="form-row">-->
<!--                  <div class="col">-->

<!--                    <div class="form-group"><label ><strong>CIN Urgent</strong></label>-->
<!--                      <input class="form-control" type="text"  formControlName="cinUrg" [value]="salarie.cinUrg" ></div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong>Nom Urgent</strong></label>-->
<!--                      <input class="form-control" formControlName="nomUrg" [value]="salarie.nomUrg"></div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong>Prenom Urgent</strong></label>-->
<!--                      <input class="form-control" formControlName="prenomUrg" [value]="salarie.prenomUrg"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong>Email Urgent</strong></label>-->
<!--                      <input class="form-control" type="email" formControlName="emailUrg"  [value]="salarie.emailUrg"></div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong>Telephone Urgent</strong></label>-->
<!--                      <input class="form-control" type="text"  formControlName="telephoneUrg" [value]="salarie.telephoneUrg" ></div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong>Adresse Urgente</strong></label>-->
<!--                      <input class="form-control" type="text"  formControlName="adresseUrg" [value]="salarie.adresseUrg" ></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Sauvegarde</button></div>-->
<!--                <strong style="color: #0f6848;" *ngIf="!modifyerrorUrgent" >Enregistrée</strong>-->

<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--          **************************************************************************************-->
<!--          <div class="card shadow mb-4">-->
<!--            <div class="card-header py-3">-->
<!--              <h6 class="text-primary font-weight-bold m-0">Mes Diplomes</h6>-->
<!--            </div>-->
<!--            <div class="card-body" *ngIf="salarie">-->
<!--              <form>-->
<!--                <div class="form-row">-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong>Ajouter Diplome <strong style="font-size: 13px;">(pdf)</strong> </strong></label>-->
<!--                      &lt;!&ndash;                          <input class="form-control" type="file"  (change)="selectPhoto($event)" ></div>&ndash;&gt;-->
<!--                      &lt;!&ndash;                          <button class="btn btn-primary" type="button" (click)="onUploadCv()">Upload</button>&ndash;&gt;-->
<!--                      <div class="mb-3"><input type="File" value="change" (change)="selectDiplome($event)"></div>-->
<!--                      <button class="btn btn-primary" type="button" (click)="onOpenDialog()" [disabled]="!diplomeIsPDF" >Upload</button>-->
<!--                      <strong style="color: #78261f;" *ngIf="!diplomeIsPDF">{{errorMessageDiplome}}</strong>-->

<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <br>-->
<!--&lt;!&ndash;                    <button class="btn btn-primary" type="button" (click)="onOpenDialog()" [disabled]="!selectedDiplome" >Upload</button>&ndash;&gt;-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                  <div class="col">-->
<!--                    <div class="form-group"><label ><strong></strong></label>-->
<!--                      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">-->
<!--                        <table class="table dataTable my-0" id="dataTable">-->
<!--                          <thead>-->
<!--                          <tr>-->
<!--                            <th>Nom</th>-->
<!--                            <th>Date de diplome</th>-->
<!--                            <th>Date de expiration</th>-->
<!--                            <th>Date de creation</th>-->
<!--                          </tr>-->
<!--                          </thead>-->
<!--                          <tbody>-->
<!--                          <tr *ngFor="let diplome of salarie.diplomeObt">-->
<!--                            <td>{{diplome.name}}</td>-->
<!--                            <td>{{diplome.dateDiplome | date :'dd-MM-yyyy'}}</td>-->
<!--                            <td>{{diplome.expDiplome| date :'dd-MM-yyyy'}}</td>-->
<!--                            <td>{{diplome.dateCreation| date :'dd-MM-yyyy'}}</td>-->
<!--                            <td>-->
<!--                              <a class="btn btn-primary btn-circle ml-1" role="button" (click)="downloadDiplome(diplome)" ><i class="fas fa-download text-white"></i></a>-->
<!--                              <a class="btn btn-danger btn-circle ml-1" role="button" (click)="deleteDiplome(diplome.id)"><i class="fas fa-trash text-white"></i></a>-->
<!--                            </td>-->
<!--                          </tr>-->
<!--                          </tbody>-->
<!--                        </table>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>&ndash;&gt;-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card shadow mb-5">-->
<!--            <div class="card-header py-3">-->
<!--              <p class="text-primary m-0 font-weight-bold">Forum Settings</p>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <form>-->
<!--                    <div class="form-group"><label for="signature"><strong>Signature</strong><br></label><textarea class="form-control" rows="4" name="signature"></textarea></div>-->
<!--                    <div class="form-group">-->
<!--                      <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"><strong>Notify me about new replies</strong></label></div>-->
<!--                    </div>-->
<!--                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © RHAPP 2020</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
</div>
