<form class="custom-form" [formGroup]="congeFormGroup" (ngSubmit)="modifyConge()">
  <h1 mat-dialog-title>
    <div class="card-body text-center shadow">
      <mat-card><H4 style="font-weight: bold;">{{title}}</H4></mat-card>
    </div>
  </h1>

  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Les Jours Disponible</label></div>
    <div class="col-sm-6 input-column">
      <label class="form-control"  >{{salarie.solde}}</label></div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label >Type</label>
    </div>
    <div class="col-sm-6 input-column">
      <mat-select class="form-control" formControlName="typeConge" >
        <mat-option  *ngFor="let type of typeConges" [value]="type" selected >{{type}}</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label" >Date de Debut</label></div>
    <div class="col-sm-6 input-column">
      <mat-form-field >
        <input matInput [matDatepicker]="picker" formControlName="dateDebut" value="{{conge.dateDebut | date : 'yyyy-dd-MM'}}">
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Date de Fin</label></div>
    <div class="col-sm-6 input-column">
      <mat-form-field >
        <input matInput [matDatepicker]="picker1" formControlName="dateFin" value="{{conge.dateFin | date : 'yyyy-dd-MM'}}">
        <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row form-group">
    <div class="col-sm-4 label-column">
      <label class="col-form-label">Motif</label></div>
    <div class="col-sm-6 input-column">
      <textarea class="form-control" formControlName="motif"  ></textarea></div>
  </div>


  <mat-card-actions class="container pr-5 mb-0" >
    <button mat-raised-button class="btn-outline-primary ml-3 mt-3"  type="submit" mat-dialog-close>Ajouter</button>
    <button mat-button  class="btn-outline-primary ml-3 mt-3"  mat-dialog-close >Fermer</button>
  </mat-card-actions>
</form>
